.main-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 700px;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 62%;
  padding: 10px;
  height: 750px;
}
.main-content h1 {
  margin: 10px;
}
